@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: "norse-bold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  margin: 0;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */

  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* ul,
ol {
  list-style: none;
} */

/* table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 0.5em;
} */

input,
textarea,
select {
  width: 100%;
  max-width: 100%;
  height: 2rem;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  padding: 4px 10px;
}

input:invalid {
  border: 2px solid rgb(248, 116, 116);
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(53, 97, 219);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgb(212, 212, 212);
}

.sidebar {
  position: relative;
  width: 38%;
  height: auto;
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.562);
  width: 100%;
  height: 120px;
  top: 20%;
}

.legend img {
  height: 80%;
  aspect-ratio: 3 / 4;
}

.legend p {
  font-family: "norse-bold";
  color: #fff;
  font-size: 5rem;
}

form {
  background-color: #f7fffa46;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  gap: 40px;
}

.upper-para {
  padding: 0 50px;
  font-size: 1.5rem;
}

.upper-para span {
  font-style: italic;
}

fieldset {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 20px 10% 40px 50px;
  width: 100%;
  min-height: 30%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(190, 190, 190);
  border: none;
  gap: 18px 80px;
  overflow: auto;
}

fieldset>div {
  width: 34%;
  font-size: 0.8rem;
}

fieldset>div>label {
  font-weight: 700;
}

legend.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fake-legend {
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
}

.bottom-section {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom-section button {
  font-size: 1.2rem;
  width: 28%;
  height: 46px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgb(194, 194, 194);
  background-color: #596D48;
  color: white;
}

.bottom-section button:hover,
.bottom-section button:focus {
  cursor: pointer;
  opacity: 0.92;
}

.log-in-hint a {
  color: #596D48;
}